{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
<article{{ attributes }}>
  <div class='cus__top'>
    <div class='cus__top--left'>
      {{product.variation_field_image }}
    </div>
    <div class='cus__top--right'>
      {{product.title}}
      {# {{product}} #}
        {{- product|without('variation_attributes') -}}

      {# 
      {{product.variation_attribute_size}}
      {{product.field_brand}}
      {{product.field_country}}
      {{product.field_variations}}
      {{product.field_variations_reference.entity}} #}


    </div>
  </div>
  <div class = 'cus__bottom'>
  {{product.body}}
  </div>
</article>
