@media(max-width: 1009px) {
.view-home-our-news .views-col{
width:auto !important;
}
/*#block-useraccountmenu,*/
/*#block-languagedropdownswitcher,*/
#block-startupgrowth-lite-search{
	display: none;
}
#block-cart-2{
	padding-right: 20px;
}
.view-products-in-same-category .views-col{
	width: 48% !important;
	min-height: 250px;
}
.checkout-pane-order-summary table td {
     padding: unset;
}
.views-table #view-total-price-number-table-column,
.views-table td.views-field-total-price__number{
	display: none;
}
.cus__top--right {
	margin-top: 10px;
}

body.path-product .cus__top--right .field.field--name-title {
	font-size: 20px;
}
body.path-product #page {
	padding: 0;
}
body.path-product #main-content .main-area {
	padding: 0;
}
body.path-product .lang-dropdown-form select.lang-dropdown-select-element.form-select {
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 16px;
}
}

