/******* nav bar *****/
.region-navigation div,
.region-navigation nav{
float:right;
	padding-bottom: 0px;
}
#header > div{
	width: 100%;
}
#header-inside {
	padding-bottom: 0px;
}
.block-commerce-cart  {
	margin-top: 14px;
}
.search-block-form .form-type-search  {
	margin-top: 11px;
	width: 110px;
}
.search-block-form .form-type-search input {
	background: none;
}
.block-search #edit-actions.form-actions:after{
	line-height: 58px;
}
.region-banner li.menu-item {
	display: inline-block;
}
.region-banner ul.menu {
	text-align: center;
}
.region-banner ul.menu a:hover{
	background-color: unset;
        color: unset;

}
body .header-container ul.menu li a {
    padding: 1px 17px 1px;
}

/******* lang switcher ******/
.lang-dropdown-form .form-item{
margin: 0px 0px 0px 0px;
}
.lang-dropdown-form select.lang-dropdown-select-element.form-select {
    background: none;
    margin-top: 8px;
}

/******* cart ******/
div.cart-block--contents {
     width: auto; 
     border: black 1px solid;
     z-index: 1000;
} 

/******* views   products_in_same_category ******/
.view-products-in-same-category .views-col{
	padding: 0px 10px 0px 10px;
}

/******* product page ******/
.field--name-field-brand ul.field__items,
.field--name-field-country ul.field__items{
	margin-top: 10px;
}
body.path-product .field--name-title{
	font-size: 30px;
}

/******* page module ******/
body.path-drink .page-title,
body.path-foods .page-title{
	display: none;
}

/******* cart page ******/
td.dragon-cart-text-column{
	padding-top: 40px;
}
tbody .views-field-remove-button{
	padding-top: 20px;
}
@media(min-width: 1010px) {
	.cus__top--left {
		float: left;
		width: 50%;
	}
	.cus__top--left .field--name-field-image.field--type-image img {
		width: 65%;
		display: block;
		margin: auto;
	}
	.cus__top--right {
		float: right;
		width: 50%;
		margin-top: -10px;
	}
}
.cus__top--right .field--name-field-image.field--type-image {
	display: none;
}
.cus__top--right .field--name-body {
	display: none;
}
body.path-product .cus__top--right .field--name-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}
.cus__top--right .product--variation-field--variation_attribute_size__1 .field__label {
	margin-top: 1px;
	font-size: 16px;
	margin-bottom: 15px;
}
.cus__top--right .product--variation-field--variation_attribute_size__1 .field__items {
	padding: 0;
  font-weight: bold;
}
.cus__top--right .field--name-field-brand,
.cus__top--right .field--name-field-country {
	margin: 0 0 15px;
}
.cus__top--right .field--name-field-brand .field__label,
.cus__top--right .field--name-field-country .field__label {
	margin: 0;
	font-size: 16px;
}
.cus__top--right .field--name-field-brand .field__items,
.cus__top--right .field--name-field-country .field__items {
	margin-top: 0;
  padding: 0;
}
.cus__top--right .field--name-field-brand .field__items > li a,
.cus__top--right .field--name-field-country .field__items > li a {
	background-color: #fff;
	color: #6889c7;
	text-decoration: underline;
	font-weight: bold;
	font-size: 16px;
	padding: 3px 0 0 0;
}

.cus__top--right .product--variation-field--variation_price__1 {
	color: #d36662;
}

.cus__top--right #commerce-product-add-to-cart-form .js-form-type-number {
	margin: 0;
}
.cus__bottom {
	clear:both;
	word-break: break-all;
}
.cus__top--right .form-item, .cus__top--right .form-actions {
	margin: 15px 0;
}

/******* regist *****/
.user-register-form div.field--type-string{
 display: none;
}
